<div class="product-template template with-header">
  {% section "product-detail" %}
  

  <div v-product-recommendations></div>

  <div class="section">
    <div class="container">
      <recently-viewed-products />
    </div>
  </div>

</div>






