<div class="breadcrumbs">
  <a class="breadcrumbs__item" href="/">Home</a>
  {% if collection %}
    {% if collection.handle == 'all' %}
      <a class="breadcrumbs__item" href="/">Products</a>
    {% else %}
      <a class="breadcrumbs__item" href="/collections">Collections</a>
      <a class="breadcrumbs__item is-active">{{ collection.title }}</a>
    {% endif %}
  {% endif %}
</div>