{% paginate collections by 20 %}

<div class="columns is-mobile is-multiline is-gapless">
    {% for collection in collections %}
    <div class="column is-half-tablet is-one-quarter-desktop">
      {% include "collection-square" %}
    </div>
  {% endfor %}
</div>

<div class="pagination">
  {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}
</div>

{% endpaginate %}