<site-header>
  {% include 'navigation-options' %}
</site-header>



{% comment %} <div class="site-header">
  <div class="container">
    <div class="site-header__content">
      <a href="/">[logo]</a>
      <div class="site-header__navigation-container">
        <div class="site-header__navigation-item">
          Our Products
        </div>
        <div class="site-header__hover-content">
          <div class="site-header__hover-content-item">
            Item #1
          </div>
          <div class="site-header__hover-content-item">
            Item #1
          </div>
          <div class="site-header__hover-content-item">
            Item #1
          </div>
          <div class="site-header__hover-content-item">
            Item #1
          </div>
        </div>
      </div>
      <div class="site-header__navigation-container">
        <div class="site-header__navigation-item">
          About CBD
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}