
{{ current_tags | json }}

<br/>
<br/>
------------
<br/>
<br/>

{{ collections['all'].all_tags | json }}

{% for tag in collections['all'].all_tags %}
  {% if current_tags contains tag %}
  <li class="active">
    {{ tag | link_to_remove_tag: tag }}
  </li>
  {% else %}
  <li>
    {{ tag | link_to_tag: tag }}
  </li>
  {% endif %}
  {% endfor %} 