@import "~bulma/sass/utilities/mixins.sass";

.featured-collection {
  min-height: 65vh;
  background: #c7e4ce;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;

  &__content {
    max-width: 400px;
  }

  &__title {
    font-size: 4em;
  }
}