.landing-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  // align-items: center;
  // justify-content: center;
  background: #c7e4ce;
  // color: #fff;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;

  &__content {
    padding: 60px 30px;
    width: 100%;
    max-width: 960px;
    flex: 1;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__headline {
    font-weight: 900;
    font-size: 3em;
    line-height: 1;
    padding-bottom: 10px;
  }

  &__text {
    padding-bottom: 15px;
  }

  &__image {
    flex: 1;
  }
}