$family-sans-serif: 'Roboto';

$body-size: 14px;

$info: #5763c4;
$primary: #ef8263;
$link: hsl(0, 0%, 29%);

$section-padding: 4rem 1.5rem;

$size-1: 4.5rem;
$size-4: 1.4rem;
$size-5: 1.1rem;
$size-7: 0.9rem;

$subtitle-line-height: 1.5;

$input-border-color: #fff;
$input-hover-color: #fafafa;
$input-hover-border-color: transparent;
$input-radius: 3px;
$input-shadow: none;
$input-focus-border-color: #fff;

$section-padding: 2rem 1.5rem;

$button-padding-vertical: calc(0.62em - 1px);
$button-padding-horizontal: 1.75em;

$control-padding-vertical: calc(1.35em - 1px);
$control-padding-horizontal: 1em;

$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-in-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);

$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-in-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);

$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-out-quint: cubic-bezier(0.23, 1, 0.32, 1);

$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-in-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);