<div class="collection-template">
  <div class="hero">


      </div>


  <div class="section">
    <div class="container">
      <div class="columns is-7 is-variable">
        <div class="column is-one-third-tablet is-one-quarter-desktop">
          <tag-controls
            :current-tags="{{ current_tags | json | escape }}"
            :all-tags="{{ collections['all'].all_tags | json | escape }}"
            :current-path="'{{ collection.url }}'"
          ></tag-controls>
        </div>
        <div class="column">
        {% comment %} <sort-options initial-value="{{ collection.sort_by | default: collection.default_sort_by | escape }}"></sort-options> {% endcomment %}
          {% include "products-grid" %}
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <recently-viewed-products />
    </div>
  </div>

</div>
