<section class="featured-collection">
  <div class="container has-text-white">
    <h1 class="is-size-1 has-text-weight-bold">Cool. Calm. Collected.</h1>
    <p>Some text goes here. Isn't that super interesting? I think so too.</p>
    <button class="button">Expore the collection</button>
  </div>
</section>