{%- assign homepage_collections = collections -%}

<div class="homepage-collections section">
  <div class="container">
    <div class="columns is-multiline is-gapless">
      {% for block in section.blocks %}
        {%- assign collection = collections[block.settings.collection] -%}
        <div class="column is-half-tablet is-one-quarter-desktop">
          {% include "collection-square" %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Homepage Collections",
  "blocks": [
    {
      "type": "block",
      "name": "Collection",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}