<div class="landing-page">
  <div class="landing-page__background" style="background-image: url({{ 'tile.png' | asset_url }})"></div>
  <div class="landing-page__content">
    {% comment %} <img class="landing-page__logo" src="{{ 'logo.png' | asset_url }}" width="70"/> {% endcomment %}
    <div class="landing-page__text">
    <img class="landing-page__logo" src="{{ 'logo.png' | asset_url }}" width="150"/>
        {% comment %} <h1 class="landing-page__headline">CBD, simplified.</h1> {% endcomment %}
        <p class="landing-page__description">We are hard at work curating the highest quality CBD products for you. Enter your email below to receive updates.</p>
        {% form 'customer' %}
          {% if form.posted_successfully? %}
            <p><i class="icon-check"></i> We will keep you updated!</p>
          {% else %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="field has-addons">
              <p class="control is-expanded">
                <input type="email" placeholder="Email address" name="contact[email]" id="NewsletterEmail" class="input" autocorrect="off" autocapitalize="off" required>            
              </p>
              <p class="control">
                <button type="submit" class="button is-primary is-fullwidth" name="commit">
                  <i class="icon-chevron-right1"></i>
                </button>
              </p>
            </div>
          {% endif %}
        {% endform %}
    </div>
  </div>
  <div class="landing-page__image is-hidden-mobile">
    
  </div>
</div>