<div class="landing-page">
  
  <div class="landing-page__content">
    <div>
        <h1 class="landing-page__headline">Some big text here.</h1>
        <p class="landing-page__text">Some description text here.</p>
        {% form 'customer' %}
          {% if form.posted_successfully? %}
            <p>Thank you for your interest. We will keep you updated!</p>
          {% else %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="field">
              <p class="control">
                <input type="email" placeholder="Email address" name="contact[email]" id="NewsletterEmail" class="input" autocorrect="off" autocapitalize="off" required>            
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button type="submit" class="button is-fullwidth" name="commit">
                  Keep me updated
                </button>
              </p>
            </div>
          {% endif %}
        {% endform %}
    </div>
  </div>
  <div class="landing-page__image is-hidden-mobile">


  </div>
</div>