<section class="section has-background-primary">
  <div class="container has-text-centered">
    <h5 class="is-size-5 has-text-weight-bold has-text-white">Always be in the know</h5>
    <p class="is-size-6 has-text-black">Join our newsletter to be the first to know about giveaways, special offers, and new products.<br/>Sign up today and receive <span>15% OFF</span> your first order!</h5>
  
    {% comment %} <form>
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" placeholder="Find a repository">
        </div>
        <div class="control">
          <a class="button is-info">
            Search
          </a>
        </div>
      </div>
    </form> {% endcomment %}
  </div>
</section>