{%- assign products_title = 'You may also like' -%}
{%- assign products = recommendations.products -%}

<section class="section">
  <div class="container">
    {% include 'products-row' %}
  </div>
</section>
