{%- assign collection = collections["best-sellers"] -%}
{%- assign products_title = collection.title -%}
{%- assign products_description = collection.description -%}
{%- assign products = collection.products -%}
{%- assign products_link = collection.url -%}

<section class="top-sellers-collection section">
  <div class="container">
    {% include 'products-row' %}
  </div>
</section>
