.product-preview {

  &__thumbnail-container {
    background: #eee;
  }

  &__text {
    padding-top: 10px;
  }

  &__text-item {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
}