.product-preview {

  &__thumbnail-container {
    position: relative;
    width: 100%;
    background: #fafafa;
    border-radius: 4px;

    &::before {
      padding-top: 125%;
      display: block;
      content: "";
    }

    img {
      opacity: 0;
    }

  }

  &__thumbnail {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__text {
    line-height: 1.6;
  }

  &__text-item {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
}