.g-field {
  position: relative;
}

.g-input {
  background: #fafafa;
  border: 1px solid transparent;
  outline: none;
  border-radius: 2px;
  font-size: 0.8em;
  padding: 6px 10px;
  font-family: $family-sans-serif;
}



.input {
  // padding: 20px 12px;
  transition: all 0.2s;
  box-shadow: none !important;
}

.button {
  transition: all 0.2s;
  // border-radius: 40px;
}